<div class="container" ng-controller="View1Ctrl">
    <h2>Root.Crawler App</h2>
    <form role="form">
        <div class="form-group">
            <label for="url">MyURL:</label>
            <input type="text" class="form-control" id="url" placeholder="google.com" ng-model="config.url">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="config.portScan"> Perform full TCP port scan</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="config.ignoreRobots"> Disrespect robots.txt</label>
        </div>
        <button type="reset" class="btn btn-danger" ng-click="reset()">Clear</button>
        <button type="submit" class="btn btn-primary" ng-disabled="crawling" ng-click="crawl(config)">Submit</button>
    </form>

    <br/>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="result in results">
            <a ng-href="#/Results/{{result.link}}" role="button" class="btn btn-link">
                {{result.domain}} - {{result.dateStart | date:'dd.MM.yyyy'}} - {{result.dateStart | date:'HH:mm:ss'}}
            </a>
        </li>
    </ul>
</div>

